body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    /* background-image: url(https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-repeat: no-repeat;
    background-size: cover;

}
.daynight{
    margin-top: 0;
    margin-left: 1200px;
    
}
.container{
    margin-left: 500px;
    margin-top: 150px;
    width: 300px;
    border: 1px solid whitesmoke;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color:rgb(128, 128, 128,0.1);
    display: inline-block;
    box-shadow: 2px 2px 2px 2px rgb(179, 167, 163);
}
h3{
    color: rgb(131, 127, 127);
}
input{
    width: 100%;
    box-sizing: border-box;
    font-size:large;
    border-radius: 5px;
    border-color: rgba(121, 121, 148, 0.3);
}
.split{
    margin-right: 5px;
    background-color: rgb(102, 102, 110);
    color: whitesmoke;
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    line-height: 1em;
    text-transform: uppercase;
}
input:focus{
    outline-color: rgb(159, 171, 240);
}
p{
color:red;
font-size: smaller;
text-transform: capitalize;
}
span{
color:rgb(243, 238, 230);
font-size: smaller;
text-transform: capitalize;
}
#toggle1{
    background-color: rgb(13, 13, 14);
    margin-bottom: 0;
    align-items: end;
    border-radius: 5px 0 0 5px;
    border: none;
    color: white;
    border: 1px rgb(248, 247, 247,0.5);
}
#toggle2{
    background-color: rgb(245, 239, 241);
    margin-bottom: 0;
    align-items: end;
    border-radius: 0 5px 5px 0;
    border: none;
    color: black;
    border: 1px rgba(43, 42, 42, 0.5);
}